.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin: 5px;
}

.Upgrades {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.Upgrades h2 {
  font-size: 20px;
}

.Upgrades div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.Upgrades button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
  background-color: #27ae60;
}

.Upgrades button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.Upgrades button:hover {
  background-color: #219652;
}

.cookie {
  display: block;
  cursor: pointer;
  margin: auto;
  width: 15rem;
  height: 15rem;
  border: none;
  background: transparent;
  outline: none;
}

.cookie > img {
  width: 100%;
  border-radius: 100%;
  animation: bounce-up 0.2s;
}

.cookie:active > img {
  animation: bounce-down 0.2s;
}

@keyframes bounce-up {
  0% {
    transform: scale(0.9)
  }
  100% {
    transform: scale(1)
  }
}
@keyframes bounce-down {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(0.9)
  }
}
